#person
  {
    margin-left: 8em;
    margin-top:-6em;
  }
  
  .hair, #face{
    animation: sway 7s infinite;
  }
  #face {
    background: #fcded8;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    position: relative;
    left: 1em;
  }
  
  .eye::before,
  .eye::after {
    content: "";
    background-color: #4b322d;
    display: inline-block;
    position: relative;
    top: 3em;
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    left: 1.7em;
    margin: 0 1em;
    animation: blink 7s infinite;
  }
  
  .smile {
    width: 6em;
    height: 3em;
    top: 5.8em;
    left: 1.6em;
    border-bottom-left-radius: 8em;
    border-bottom-right-radius: 8em;
    border: 5px solid #4c0429;
    border-top: 0;
    position: absolute;
  }
  
  .nose {
    width: 1em;
    height: 0.5em;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    border: 3px solid #d5a9a0;
    border-right: 0;
    top: 5.3em;
    left: 4em;
    position: absolute;
  }
  
  .ears::before,
  .ears::after {
    content: "";
    background-color: #fcded8;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 1.5em;
    height: 1.7em;
    /*   margin: 0 1.1em; */
    top: 5em;
  }
  
  .ears::after {
      left: 9em;
  }
  
  .hair {
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
    background: #d5a9a0;
    border: 3px solid #d5a9a0;
    height: 13em;
    width: 11.5em;
    top:14em;
    position: relative;
  }
  
  .hair::before,
  .hair::after {
    content: "";
    background-color: #ee8a81;
    display: inline-block;
    border-radius: 50%;
    width: 0.8em;
    height: 1.3em;
    top: 0.5em;
    left: 2em;
    transform:rotate(90deg);
    position:relative;
  }
  
  #neck {
    width: 15em;
    height: 7em;
    background-color: #f5b7b1;
    top: 0em;
    left: -1em;
    position: relative;
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;
  }
  
  #neck::before {
    content: "";
    width: 3.2em;
    height: 2em;
    top: -0.2em;
    left: 5.2em;
    border-bottom-left-radius: 10em;
    border-bottom-right-radius: 10em;
    border: 7px solid #ee8a81;
    border-top: 0;
    background: #fcded8;
    position: absolute;
  }
  
  #arm1::before {
    content: "";
    position: relative;
    display: inline-block;
    left: 9.4em;
    width: 3.9em;
    height: 3em;
    top: 1.5em;
    transform: rotate(-55deg);
    background: #fcded8;
    border-bottom-right-radius: 1em;
    animation: arm 0.5s infinite;
  }
  
  #arm1::after {
    content: "";
    position: relative;
    display: inline-block;
    left:6.6em;
    width: 2.9em;
    height: 6em;
    background: #fcded8;
    border-bottom-right-radius: 1em;
  }
  
  #computer {
    width: 12em;
    height: 11em;
    background: gray;
    top: -8.4em;
    left: -2.5em;
    position: relative;
    border-radius: 0.3em;
    /* z-index: 2; */

  }
  #computer::before {
    content: "";
    width: 16em;
    height: 2em;
    background: gray;
    top: 9.4em;
    transform:rotate(0deg);
    display: inline-block;
    position: relative;
    border-radius: 0.3em;
    z-index: 2;
  }
  
  #neck::after {
    content: "";
    width: 0.6em;
    height: 8em;
    top: 6.3em;
    background: #f5b7b1;
    left: 10.5em;
    display: inline-block;
    position: relative;
    border-radius: 9em;
    z-index: 0;
  }

  .hanger::after, 
  .hanger::before{
    background-color: rgb(148, 148, 148);
    content: "";
    display: inline-block;
    position: relative;
    width: 0.3em;
    height: 12em;
    margin: 0 0 0 3em;
  }

  .hanger::after{
    transform: rotate(-15deg);
  }

  .hanger::before{
    transform: rotate(15deg);
  }


  #bowl{
    content: "";
    display: inline-block;
    position: relative;
    width: 8em;
    height: 5em;
    border-radius: 10% 10% 100% 100%;
    background-color: #D8CFC4;
    margin: -0.3em 0 0 0.8em;
    /* border-bottom: 4px solid #94908b; */
    box-shadow: 4px 5px 5px #9e8d7a;
    z-index:2;
  }

  #petal1::after, #petal1::before{
    content: "";
    display: inline-block;
    position: relative;
    width: 1.3em;
    height: 5em;
    border-radius: 100%;
    bottom: 8em;
    left:1.7em;
    z-index:1;
    border: 1px solid white;
  }

  #petal1::after{
    transform: rotate(-18deg);
    background-color: #afc2a8;
    
  }

  #petal1::before{
    transform: rotate(-30deg);
    background-color: #355e38;
  }

  #petal2{
    content: "";
    display: inline-block;
    position: relative;
    width: 1.9em;
    height: 6em;
    border-radius: 100%;
    background-color: rgb(108, 141, 108);
    bottom: 15em;
    left:4em;
    border: 1px solid white;

  }

  #petal3::after, #petal3::before{
    content: "";
    display: inline-block;
    position: relative;
    width: 1.3em;
    height: 5em;
    border-radius: 100%;
    bottom: 20em;
    left:5.2em;
    z-index:1;
    border: 1px solid white;

  }

  #petal3::after{
    transform: rotate(33deg);
    background-color: #afc2a8;
    
  }

  #petal3::before{
    transform: rotate(25deg);
    background-color: #355e38;
  }

  #plant{
    margin-left: 2em;
    margin-bottom: 13em;
    animation: sway_plant 10s infinite;
  }
  
  @keyframes blink {
    0%,
    90%,
    100% {
      height: 1.3em;
    }
    94% {
      height: 0px;
    }
  }
  
  @keyframes arm {
    0% {
          transform: rotate(-55deg);
      }
      25% {
          transform: rotate(-60deg);
      }
      45% {
          transform: rotate(-75deg);
      }
      100% {
          transform: rotate(-55deg);
      }
  }
  
  img {
    height: 3em;
    position: absolute;
    top:42%;
    left:37%;
  }
  #table{
    width: 10em;
    height: 5em;
  }
  
  @keyframes sway {
      0% {
          transform: rotateZ(0deg);
      }
      20% {
          transform: rotateZ(0deg);
      }
      25% {
          transform: rotateZ(4deg);
      }
      45% {
          transform: rotateZ(4deg);
      }
      50% {
          transform: rotateZ(0deg);
      }
      70% {
          transform: rotateZ(0deg);
      }
      75% {
          transform: rotateZ(-4deg);
      }
      90% {
          transform: rotateZ(-4deg);
      }
      100% {
          transform: rotateZ(0deg);
      }
  }

  @keyframes sway_plant {
    20%{
      transform: rotate(3deg);
    }
    40%{
      transform: rotate(6eg);
    }
    60%{
      transform: rotate(0deg);
    }
    80%{
      transform: rotate(-3deg);
    }
    
}