@import url('https://fonts.googleapis.com/css2?family=Asap&family=Indie+Flower&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Arima:wght@100;200&family=Lora&family=Ms+Madi&family=Pacifico&family=Padauk&display=swap');

*{
    padding: 0;
    margin: 0;
    
}
body{
    overflow: visible;
    font-size:90%;
    /* width: 100%; */
}
/* Navigation Bar */


#header{
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    background: white;
    border-radius: 4px;
    margin-right:1em;
    z-index: 10;
}

#name{
    font-family: 'Pacifico', cursive;
    padding: 1.1rem;
    color: rgb(219, 157, 164);
    padding-left: 2.6rem;
}

nav ul{
    display: flex;
    padding-right: 3.9rem;
    color: black;
    font-family: 'Lora', serif;
    font-weight: lighter;
}

nav ul li{
    list-style: none;
    padding-left: 2.6em;
    color: black;

}

li a{
    color: black;

}

.icon{
    display: none;
    color:#7A77B9;
    padding-right:0.6em;

}

/* Links */

a{
    /* font-family: 'Indie Flower', cursive; */
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
a:hover{
    color: #4c956c;
}

#about:hover, #contact-section:hover, #skills, #skills-section, #awards, #extra{
    color:black;
}
/* Welcome Section */

#welcome{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 2rem;
    padding-top: 6rem;
    background-color: #0D3C1F;
    align-items: center;
}

    #left {
        /* flex: 1.1; */
        /* display: inline-flex; */
        text-align: center;
        margin: 0 auto;
    }
    
    .typing {
        font-size: 17vw;
        color: white;
        margin: 0 auto;
        overflow: hidden; /* Hide overflowing text */
        position: relative; /* Needed for cursor positioning */
        /* animation: typing 4s steps(30, end) forwards; */
    }
    
    .typing .word{
        max-width: fit-content;
        display: inline-block; 
        white-space: nowrap;
        overflow: hidden;
        opacity: 0; 
        animation: type 4s steps(25, end) forwards, blinking 1s infinite;
    }
    
    .typing .word:nth-child(1) {
        animation-delay: 0s;
        border-right: 4px solid black;
        animation: type 4s steps(25, end) forwards, blinking 1s infinite, remove-border 1s 3s forwards; /* Adjusted to remove border after 3s */
    }
    
    .typing .word:nth-child(2) {
        animation-delay: 3s; 
        border-right: 4px solid black;
        color: #CBD5F0;
    }
    
    /* Typing animation */
    @keyframes type {
        from { width: 0; opacity: 1;}
        to { width: 100%; opacity: 1;}
    }


@keyframes blinking {
    from { border-color: transparent }
    to { border-color: #CBD5F0; }
} 
@keyframes remove-border {
    0% { border-color: transparent }
    100% { border-color: transparent; }
} 

    /* right */

    #right{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 5%;
        margin-left: 2em;
    }



/* About Section */

    #about-title{
        font-family: 'Arima', cursive;
        text-align: left;
        font-size: 2.2rem;
        /* padding: 4rem 0 0 2rem; */
        color:#0D3C1F;
        margin-left: 0.3em;

    }

    #about{
        padding: 1.5rem;

    }


    #about p{
        /* padding: 1.5rem; */
        color: black;
        font-family: 'Asap', sans-serif;
        text-align: left;
        width: 85%;
        font-size: 1.2em;
        font-weight: lighter;
        line-height: 1.7rem;
        margin-left: 1.2em;

    }
      
      .timeline ul {
        background: #D8E2DC;
        width: 100vw;
        padding-bottom: 2.5em;
      }
      
      .timeline ul li {
        list-style-type: none;
        position: relative;
        width: 0.6em;
        margin: 0 auto;
        /* padding-top: 50px; */
        background: #fff;
        /* width: 100%; */
        
      }
      
      .timeline ul li::after {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: inherit;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid rgb(27, 88, 23);
      }

    .timeline ul li:nth-child(2n+1)::after {
        content: '\1F33F';
    }
    
    .timeline ul li:nth-child(2n+2)::after {
        content: '\1F331'; 
    }

      
      .timeline ul li div {
        position: relative;
        bottom: 0;
        padding: 2em;
        padding-bottom: 0.5em;
        width: 20em;
        /* background: #9eb6a8; */
        background-color: white;
        border-radius: 2%;
      }
      
      .timeline ul li div::before {
        content: "";
        position: absolute;
        bottom: 7px;
        width: 0;
        height: 0;
        border-style: solid;
      }
      
      .timeline ul li:nth-child(2n+1) div {
        left: 3em;
      }
      
      .timeline ul li:nth-child(2n+1) div::before {
        left: -12px;
        border-width: 16px 16px 16px 0;
        border-color: transparent white transparent transparent;
      }
      
      .timeline ul li:nth-child(2n) div {
        left: -26.5em;
      }

      
      .timeline ul li:nth-child(2n) div::before {
        right: -12px;
        border-width: 16px 0 16px 16px;
        border-color: transparent transparent transparent white;    
    }

        .ed{
            text-align: left;
            height:fit-content;
        }
      
      .ed h1 {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 8px;
        color: #225b3b;
        border-bottom: 1px solid #b6c7be;
        line-height: 1.2em;
        padding-top:0.5em;
        padding-bottom:0.5em;

      }
    
       .ed p{
        font-family: 'Asap', sans-serif;
        padding-bottom: 1.2em;
       }
     
    
    /* Skills  */
    #skills{ 
        background-color: #D8E2DC; 
        display: flex;
        justify-content: space-evenly; 
        text-align: center;
        flex-direction: column;
    }

    #education, #experience{
        margin: 2em 2em 0 0;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #education h1, .education h1, .education h1, .education h2, .education h2, .education h3{
        font-family: 'Arima', cursive;
    }

    #education .title, #experience .title{
        font-size: 2.8em;
        /* margin-bottom: 1em; */
        font-family: 'Arima', cursive;
        
    }

    .education{
        text-align: left;
        margin: 0 auto;
        margin-bottom: 3em;
        max-width: 60%;
    }

    #skills-section{
        padding-bottom: 3em;
    }
    #skills-section #languages{
        width: 70%;
        font-family: 'Arima', cursive;
        margin: 2em auto;
        margin-top: 4em;
    }

    #languages .title{
        margin-bottom: 1.3em;
        font-size: 2.8em;
    }

    .ind-skill{
        display: flex;
        align-items: center;
        margin: 1em 0 0 0;

    }
    .ind-skill p{
       font-size:1.4em;
       width:45%;
    }

    .bar {
        width: 100%; /* Full width */
        background-color: rgb(241, 241, 241); /* Grey background */
        border-radius: 2em;
        height: 6px;
      }

      .htmlcss, .java, .office, .filemaker, .php, .javascript, .android, .python, .filemaker, .c, .git, .data{
        background-color: #4c956c;  
        border-radius: 2em;
        height: 8px;
        animation: fill 3s forwards;
      }

      .htmlcss, .java, .filemaker{ width:94%}
      .git, .c{ width: 80%; }
      .python{width: 86%;}
      .javascript, .php{width: 70%; }
      .office{  width: 40%; }
      .android{width: 60%;}
      .data{width: 55%;}

    #awardsextra{
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        margin-top: 6em;
        width: 90%;
    }

    #awards,#extra{
        font-family: 'Asap', sans-serif;
        width: 40%;
    }

    #awards ul li, #extra ul li{
        font-size: 1.1em;
        padding: 0.5em 10em 0.8em 0;
        list-style: none;
        text-align: left;
    }

    #awards ul{
        margin-top: 2em;
    }

    #awardsextra #awards .title, #awardsextra #extra .title{
        font-family: 'Arima', cursive;
        font-size: 2.5em;
        width: 75%;
        border-bottom: 3px solid #4c956c;
    }

    #extra h2{
        margin: 2em 0 1em 0;
        font-family: 'Arima', cursive;
    }

    /* .center{
        margin: 0 auto;
        text-align: center;
    }

    #skills i{
        font-size: 6rem;;
        color: white;
        text-align: center;
        padding: 2rem;
    }
    
    #skills-title{
        color: white;
        text-align: center;
        margin-bottom: 2.5rem;
    } */

/* Contact */


#contact{
    display: flex;
    justify-content: center;
    height: 10vw;
    padding-top: 3rem;
    background-color: #0D3C1F;
}

#contact i{
    color: white;
    font-size: 5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

#contact-title{
    font-family: 'Pacifico', cursive;
    font-size: 2.3em;
    text-align: center;
    padding-top: 3rem;
    margin: 0 auto;
    margin-top: 2.2em;
    background-color: #0D3C1F;
    color: white;
}

/* media query */
#small{
    display: none;
    cursor:pointer;
    color: black;
    font-size: 2em;
    padding-right: 1em;
    /* animation: close_navigator_text 0.8s; */
}

#closebtn{
    font-size: 4em;
    display: none;
    cursor:pointer;
    color:white;
    padding-left: 1em;
    padding-top: 3rem;

}


@media(min-width: 850px){
    #left h3{font-size: 1.2rem;} 
    #left h1 {font-size: 7rem;}
    #learn-more {font-size: 1.3rem;}
    #left{max-width: 650px;}
    #left p{max-width: 80%;}
    body{font-size: 0.7em;}  
}

@media (max-width: 870px) {
    nav{
        display: none;
    }
    nav ul{
        padding: 0;
    }
    #small{
        display: inline;
    }

    #contact{
        height: 20vw;
    }
    #plant{margin-right:2em;}

}

@media (max-width: 1240px){
    body{
        font-size: 65%;
    }
    #left h1{
        max-width: 80%;
        font-size: 5rem;
    }

}
@media (max-width: 700px){
    body{
        font-size: 55%;
    }
    #left h3{
        font-family: 'Asap', sans-serif;
        font-size: 2vw;
    }
    #left h1{
        max-width: 100%;
        font-size: 5rem;
    }
    
}

@media(min-width: 1300px){
    #plant{
        font-size: 80%;
    }
    #right{
       max-width:40%;
       margin: auto;
    }

}

/* overflow */

#overflowHeader {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    position: fixed;
    background:#7A77B9;
    animation: open_navigator 0.7s;
    overflow: scroll;
    height: 100%;
}

#overflowNav {
    display: flex;
    padding: 0rem;
    margin: 0 auto;
    overflow: scroll;
}

#overflowNav .icon {
    display: none;
}

#overflowNav li {
    /* height: 100%; */
    padding: 0rem;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 0.5rem;

}

#overflowName{
    display: none;
}

#overflowNav a{
    color: white;
}

#overflowNav a:hover{
    color: rgb(203, 238, 203);
}

#overflowUl{
   flex-direction: column;
   font-size: 2em;

}

#overflowSmall{
    display: none;
}

#overflowperson, #overflowplant{
    display:none;
}
/* keyframes */
@keyframes open_navigator {
    0%{ height: 0%; 
    }

    100%{ height: 100%; }
}
@keyframes close_navigator {
    0%,30%{ 
        height: 100%;
        background-color: #7A77B9;

    }

    100%{ height: 11%; }
}

@keyframes close_navigator_text {
    0%, 90%{ 
       visibility: hidden;
    }

    100%{ 
        dispaly: inline; 
    }
}

@keyframes fill{
    from{
        width: 0%;
    }
}